footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    position: initial;
    margin-top: 25px;
  }
  .link{
    color: $grey;
  }
  nav{
    &:first-of-type {
      li{
        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
      @media only screen and (max-width: 500px) {
        margin-bottom: 10px;
      }
    }
    &:last-of-type {
      li{
        &:not(:first-of-type) {
          margin-left: 15px;
        }
      }
    }
  }
  ul{
    display: flex;
  }
}

h2{
  color: $grey;
  font-size: 14px;
  font-weight: normal;
  @media only screen and (max-width: 500px) {
    text-align: center;
  }
}

.country{
  padding: 13px 30px;
  background-color: $darkWhite;
  border-top: 1px solid $softGrey;
}

.config{
  @extend .country;
  @extend h2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    padding: 13px 15px;
  }
}